/vendor
/node_modules
.env
.env.backup
/public/storage
/public/hot
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/framework/testing
/storage/app/backup
/storage/debugbar

.DS_Store
Thumbs.db
/.idea
/.vscode
/.vagrant
npm-debug.log
yarn-error.log
.phpunit.result.cache